:root {
    --white: #FFFFFF;
    --generate-background: #10B981;

    --dm-background-color: #1F2937;
    --dm-text-color: #D5D4D8;
    --dm-subtext-color: #D5D4D8;
    --dm-button-background: #273549;
    --dm-button-text: #55F991;

    --lm-background-color: #ECFDF5;
    --lm-text-color: #111827;
    --lm-subtext-color: #6B7280;
    --lm-button-background: #273549;
    --lm-button-text: #5DEF92;
}

body {
    display: flex;
    background-color: var(--dm-background-color);
    align-items: center;
    height: 100vh;
}

.window {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    min-width: 400px;
}

.header-text {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;

    line-height: 40px;

    width: 360px;
    margin-bottom: -5px;

    color: var(--white);
}

.header-subtext {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    margin-bottom: 50px;


    color: var(--dm-subtext-color);
}

.green-highlight {
    color: var(--dm-button-text);
}

.generate-btn {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;

    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--generate-background);
    color: var(--white);
}

.horizontal-line {
    max-width: 100%;
    height: 1px;
    border: none;
    background-color: #2F3E53;
    margin: 40px auto;
}

.generated-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.generated-pwd {
    display: flex;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-size: 16px;

    align-items: center;
    justify-content: center;

    width: 210px;
    height: 40px;
    background-color: var(--dm-button-background);
    border-radius: 6px;

    color: var(--dm-button-text);

}





