:root {
    --white: #ebebeb;
    --generate-background: #10B981;

    --slider-background: #ffffff;

    --dm-background-color: #1F2937;
    --dm-text-color: #D5D4D8;
    --dm-subtext-color: #D5D4D8;
    --dm-button-background: #273549;
    --dm-button-text: #55F991;

    --lm-background-color: #ECFDF5;
    --lm-text-color: #111827;
    --lm-subtext-color: #6B7280;
    --lm-button-background: #273549;
    --lm-button-text: #5DEF92;
}

body {
    display: flex;
    background-color: var(--dm-background-color);
    align-items: center;
    height: 100vh;
}

/* Styling Custom Range Label */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background-color: var(--slider-background);
}

input[type="range"]::-moz-range-track{
    height: 15px;
    background-color: var(--slider-background);
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;

    height: 15px;
    width: 15px;
    border: 1px solid black;
    background-color: var(--generate-background)


}

input[type="range"]::-moz-range-thumb {

}





/* Class Selectors */

.window {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    min-width: 400px;
}

.header-text {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;

    line-height: 40px;

    width: 360px;
    margin-bottom: -5px;

    color: var(--white);
}

.header-subtext {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;

    margin-bottom: 50px;
    color: var(--dm-subtext-color);
}

.green-highlight {
    color: var(--dm-button-text);
    transition: text-shadow 0.5s linear;
    cursor: default;
}

.green-highlight:hover {
    text-shadow: 0 0 20px var(--dm-button-text);
}

.header-btns {
    display: flex;
    gap: 20px;
}

.generate-btn {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;

    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--generate-background);
    color: var(--white);

    transition: box-shadow 0.5s linear;
}

.generate-btn:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.options-btn {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;

    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--generate-background);
    color: var(--white);

    transition: box-shadow 0.5s linear;
}

.options-btn:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.options-panel {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--white);
    box-shadow: 0 0 10px var(--generate-background);
    border-radius: 6px;

    padding: 10px;
    margin-top: 20px;
}


.horizontal-line {
    max-width: 100%;
    height: 1px;
    border: none;
    background-color: #2F3E53;
    margin: 40px auto;
}

.generated-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.generated-pwd {
    display: flex;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-size: 1rem;

    align-items: center;
    justify-content: center;

    width: 210px;
    height: 40px;
    background-color: var(--dm-button-background);
    border-radius: 6px;

    color: var(--dm-button-text);

}





